In [2]:
import pandas as pd
import numpy as np
import requests
import os
import re
import csv
import plotly.express as px
import plotly.graph_objects as go
import math

In [3]:
selection = pd.read_csv("/media/hdd/tmp/bsp/meta.csv", dtype={'market_id': object, 'selection_id': object}, parse_dates = ['market_time'])

selection.head(3)

,market_id,selection_id,venue,market_time,selection_name,win,bsp
0,1.183995724,22832649,Hamilton,2021-06-01 01:40:00,1. Ablestock,0,8.40
1,1.183995724,13688381,Hamilton,2021-06-01 01:40:00,2. Annunciate,1,2.30
2,1.183995724,2659734,Hamilton,2021-06-01 01:40:00,3. Eyes Are Blue,0,382.87

In [5]:
prices = pd.read_csv(
    "/media/hdd/tmp/bsp/prices.csv", 
    quoting=csv.QUOTE_ALL,
    dtype={'market_id': 'string', 'selection_id': 'string', 'atb_ladder': 'string', 'atl_ladder': 'string'},
    parse_dates=['time']
)
prices.head(3)

,market_id,selection_id,time,near_price,far_price,bsp_back_pool_stake,bsp_lay_pool_liability,atb_ladder,atl_ladder
0,1.183995724,22832649,2021-05-31 06:17:15.379,NaN,NaN,0,0,{},{}
1,1.183995724,13688381,2021-05-31 06:17:15.379,NaN,NaN,0,0,{},{}
2,1.183995724,2659734,2021-05-31 06:17:15.379,NaN,NaN,0,0,{},{}

In [6]:
prices.shape

(696648, 9)

In [ ]:
prices.query('market_id == "1.183995724" and selection_id = "22832649"')