In [1]:
import pandas as pd
import numpy as np

In [8]:
odds = pd.read_csv("/media/hdd/tmp/thoroughbred-parsed/thoroughbred-odds-2021.csv", dtype={'market_id': object, 'selection_id': object})

/home/tmbish/.local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (6,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
odds.head(5)

,market_id,selection_id,time,market_status,inplay_status,traded_volume,ltp,best_back,best_lay,best_back_volume,best_lay_volume
0,1.179943506,38608157,2021-03-01 03:09:11.676000,OPEN,False,0.0,,,,,
1,1.179943506,4438218,2021-03-01 03:09:11.676000,OPEN,False,0.0,,,,,
2,1.179943506,20939111,2021-03-01 03:09:11.676000,OPEN,False,0.0,,,,,
3,1.179943506,38608158,2021-03-01 03:09:11.676000,OPEN,False,0.0,,,,,
4,1.179943506,38608159,2021-03-01 03:09:11.676000,OPEN,False,0.0,,,,,

In [13]:
market_ids = odds['market_id'].unique()

array(['1.179943506', '1.179845158', '1.179845154', ..., '1.172446434',
       '1.172426156', '1.172446438'], dtype=object)

In [20]:
sample = odds[odds['market_id']==market_ids[100]]

(
    sample
    .groupby(['market_id', 'selection_id', 'inplay_status'])
    .agg({'best_back': 'min'})
)

                                       best_back
market_id   selection_id inplay_status
1.180014214  35524488     False
                          True
             35981062     False
                          True
             38677351     False
                          True
             38677352     False
                          True
             38677353     False
                          True
             38677354     False
                          True
             38677355     False
                          True