In [3]:
import pandas as pd
import numpy as np
import requests
import datetime

In [17]:
def getRaces(dte):

    url = 'https://apigateway.betfair.com.au/hub/racecard?date={}'.format(dte)

    responseJson = requests.get(url).json()

    marketList = []

    for meeting in responseJson['MEETINGS']:
        for markets in meeting['MARKETS']:
            marketList.append(
                {
                    'date': dte,
                    'track': meeting['VENUE_NAME'],
                    'country': meeting['COUNTRY'],
                    'race_type': meeting['RACE_TYPE'],
                    'race_number': markets['RACE_NO'],
                    'market_id': str(markets['MARKET_ID']),
                    'start_time': markets['START_TIME']
                }
            )
    
    marketDf = pd.DataFrame(marketList)

    return(marketDf)

In [21]:
getRaces(dte)

,date,track,country,race_type,race_number,market_id,start_time
0,2019-01-01,Beaudesert,AUS,R,1,153068286,2019-01-01 03:17:00
1,2019-01-01,Beaudesert,AUS,R,2,153068288,2019-01-01 03:52:00
2,2019-01-01,Beaudesert,AUS,R,3,153068290,2019-01-01 04:32:00
3,2019-01-01,Beaudesert,AUS,R,4,153068292,2019-01-01 05:12:00
4,2019-01-01,Beaudesert,AUS,R,5,153068294,2019-01-01 05:52:00
...,...,...,...,...,...,...,...
214,2019-01-01,Warrnambool,AUS,G,8,153075125,2019-01-01 05:54:00
215,2019-01-01,Warrnambool,AUS,G,9,153075127,2019-01-01 06:19:00
216,2019-01-01,Warrnambool,AUS,G,10,153075129,2019-01-01 06:42:00
217,2019-01-01,Warrnambool,AUS,G,11,153075131,2019-01-01 07:04:00
218,2019-01-01,Warrnambool,AUS,G,12,153075133,2019-01-01 07:19:00

In [25]:
market_id = "1.153068286"

def getRaceMeta(market_id):

    url = 'https://apigateway.betfair.com.au/hub/raceevent/{}'.format(market_id)

    responseJson = requests.get(url).json()

    raceList = []

    for runners in responseJson['runners']:
        raceList.append(
            {
                'market_id': market_id,
                'weather': responseJson['weather'],
                'track_condition': responseJson['trackCondition'],
                'race_distance': responseJson['raceLength'],
                'selection_id': runners['selectionId'],
                'selection_name': runners['runnerName'],
                'barrier': runners['barrierNo'],
                'place': runners['placedResult'],
                'trainer': runners['trainerName'],
                'jockey': runners['jockeyName'],
                'weight': runners['weight']
            }
        )

    raceDf = pd.DataFrame(raceList)

    return(raceDf)

getRaceMeta(market_id)

,market_id,weather,track_condition,race_distance,selection_id,selection_name,barrier,place,trainer,jockey,weight
0,1.153068286,FINE,GOOD3,2450,8611154,Canongate,3,3,Brian Smith,Boris Thornton,59.0
1,1.153068286,FINE,GOOD3,2450,11984770,Antigone,4,1,Barry Lockwood,James Orman,58.5
2,1.153068286,FINE,GOOD3,2450,10436167,Hierarchal,8,2,Ben Currie,Baylee Nothdurft,58.0
3,1.153068286,FINE,GOOD3,2450,17440324,Korma,5,6,Alicia Willick,Ryan Plumb,58.5
4,1.153068286,FINE,GOOD3,2450,11403020,Choppa,6,8,George Sitek,Cyril Small,56.5
5,1.153068286,FINE,GOOD3,2450,11948441,Percivall Pott,1,7,Gary Duncan,Nathan Fazackerley,56.0
6,1.153068286,FINE,GOOD3,2450,14580929,Cushty Princess,2,5,Marcus Wilson,P Hammersley,55.5
7,1.153068286,FINE,GOOD3,2450,22211661,Hez Ekceptional,7,4,L D Kelly,Shannon Doyle,55.0
8,1.153068286,FINE,GOOD3,2450,21188168,Tizabee,9,9,Ben Ahrens,Jason Taylor,54.0